<!DOCTYPE html>

<html>
	<head>
		<title>Board</title>
	</head>
	<body>
	<table>
		<% @board1.grid.each_slice(1) do |cell| %>
		<% cell.each do |k| %>
		<%= cell.object_id.inspect %>
			<% if k.is_a?(Ship) %> 
				water
			<% else %>
				<a href="/Board"><img src='http://images.clipartpanda.com/math-worksheets-clip-art-math-shapes-square-ns-bw.gif' height='50' width='50'></a>
			<% end %>
		<% end %>
		<% end %>
	</table>
		</article>
	</body>
</html>






    
