<!DOCTYPE html>

<%= session[:board].object_id.inspect %>


<html>
	<head>
		<title>Board</title>
	</head>
	<body>
		<% @board1.grid.each_slice(10) do |cell| %>
		<article class ='cell'>	
		<%= cell %>
		<a href="/Board"><img src='http://images.clipartpanda.com/math-worksheets-clip-art-math-shapes-square-ns-bw.gif' height='50' width='50'></div>
		<% end %>
		</article>
	</body>



</html>






    
