<!DOCTYPE html>




<html>
	<head>
		<title>Board</title>
	</head>
	<body>
		<% @board1.grid.each do |cell| %>
			<article class ='cell'>
		<%= cell %>
		<% end %>
		</article>
	</body>
</html>






    
