<div>
	<% unless two_players? %> (@player1 == "" && @player2 == "") || (@player1.nil? && @player2.nil?) %>
	Player 1 is: <%= p @player1.inspect %>
			<p>Hello, <%= @player1 %></p>
			<p>Hello, <%= @player2 %></p>
			<p>Welcome to BattleShips!</p>
	<% else %>
		<p> What is the name of Player One? </p>
		<form action='/NewGame'>
			<input type= 'text' name= 'name1'>
			<p> What is the name of Player Two? </p>
			<form action='/NewGame'>
			<input type= 'text' name= 'name2'>
			<input type= "submit">
		</form>
	<% end %>


</div>
