
<div>
	<% if @player.name %>
		Hello, <%= @player.name%>!
	<% else %>
		<p>What's the name of the player?</p>
		<form action='/NewGame' method='POST'>
			<input type= 'text' name= 'name2'>
			<input type= "submit">
		</form>
	<% end %>
</div>

