<div>
	<% if @player %>
		Hello, <%= @player %>!
	<% else %>
		<p> What's your name? </p>
			<form action='/NewGame'>
				<input type= 'text' name= 'name'>
				<input type= "submit">
			</form>		
	<% end %>
</div>
