


<div>

<form name='ship' 
action="/PlayGame"
method="POST">
<div align="center">
<input type="image" src= http://blog.adw.org/wp-content/uploads/battleship_003.jpg name="a1">
<input type= 'submit' name= 'Submit'
</form>

<form name='cell' 
action="/PlayGame"
method="POST">
<div align="center">
<input type="image" src= http://img2.wikia.nocookie.net/__cb20140620032009/survivor-org/images/4/48/Battleship_board.jpg name="a1">
</form>
</div>

